<p id="notice"><%= notice %></p>

<h1>Listing Anyshits</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anyshits.each do |anyshit| %>
      <tr>
        <td><%= link_to 'Show', anyshit %></td>
        <td><%= link_to 'Edit', edit_anyshit_path(anyshit) %></td>
        <td><%= link_to 'Destroy', anyshit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anyshit', new_anyshit_path %>
